.u-wrapper 
	.header-wrapper
		padding: 16px 23px 0px
		.top-logout
			font-size: 21px
			font-weight: bold
			padding: 0px 14px
			border-radius: 14px
	.main
		margin-top: -50px
		margin-bottom: -50px
	.top-left-avatar
		width: 60px
		border-radius: 100%
		border: 1px solid #EBDCDC
	a
		color: white
		&:hover
			color: white
			opacity: 0.9
	.note-con
		max-width: 842px
		margin: 0 auto
		.bootstrap-tagsinput
			width: 100%
	.note-editor
		.note-editable
			background: white
			color: black
			max-width: 842px
			margin: 0 auto
	.btn-twitter-submit
		width: 100%
		margin: 10px 0px
		background: #6AC3EA
		color: white
		font-family: museo_sans700
		font-size: 25px

		i
			font-size: 30px
		&:hover
			color: white
			opacity: 0.7
			margin-left: 1px
	.file-input-wrapper
		border: none
		background: none
		font-weight: bold
		text-decoration: underline
		margin-left: -15px
	.form-alerts
		position: absolute
		top: 0px
		left: 0px
		right: 0px
		text-align: center
		width: 100%
		font-size: 18px
		padding: 9px
	.show-tweet
		max-width: 900px
		background: #FFF
		color: #000
		padding: 36px 30px
		border-radius: 14px
		font-family: museo_sans500
		font-size: 15px
		.tweet-label
			color: #003E6F
			font-family: novecento_wide_bookbold
			margin-bottom: 15px
	.tweet-attachment
		color: #000
		float: left
		a
			color: black
	#remote
		*
			color: black
	.select2-choices
		padding: 9px
	.select2-container
		width: 100%
	.select2-search-field
		input
			margin-top: -3px !important
	.recipients-editor
		background-color: white
		color: black
		padding: 3px
		textarea#tweet
			padding: 7px
			border-radius: 4px
			margin-bottom: 3px
			width: 100%
			margin-bottom: -3px
